In [1]:
import numpy as np

In [2]:
import pandas as pd

In [18]:
myIndex = ["esteghlal","pas","perspolis"]

In [33]:
myData = [1991,1992,2900]

In [34]:
mySeries = pd.Series(data = myData)

In [35]:
mySeries

0    1991
1    1992
2    2900
dtype: int64

In [36]:
type(mySeries)

pandas.core.series.Series

In [41]:
mySeries = pd.Series(data = myData, index = myIndex)
# OR
# mySeries = pd.Series(myData, myIndex)

In [42]:
mySeries

esteghlal    1991
pas          1992
perspolis    2900
dtype: int64

In [43]:
mySeries[0]

C:\Users\Chalus System\AppData\Local\Temp\ipykernel_34212\2378560465.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  mySeries[0]

1991

In [44]:
mySeries[1]

C:\Users\Chalus System\AppData\Local\Temp\ipykernel_34212\260787569.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  mySeries[1]

1992

In [45]:
mySeries['esteghlal']

1991

In [46]:
mySeries['pas']

1992

In [47]:
aclChampions = { "esteghlal":1991, "pas":1992, "perspolis":2900}

In [48]:
pd.Series(aclChampions)

esteghlal    1991
pas          1992
perspolis    2900
dtype: int64

In [49]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [50]:
sales_q1 = pd.Series(q1)

In [51]:
sales_q2 = pd.Series(q2)

In [52]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [53]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [54]:
sales_q1['Japan']

80

In [55]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [60]:
a = [1,2] * 2
b = np.array([1,2]) * 2
print(a)
print(b)

[1, 2, 1, 2]
[2 4]

In [61]:
sales_q1 * 12

Japan     960
China    5400
India    2400
USA      3000
dtype: int64

In [62]:
sales_q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [63]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [64]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [67]:
sales_q1 + sales_q2

# "NAN" for japan and brazil because they are not present in the both series

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [68]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [73]:
pd.Series(sales_q1.add(sales_q2, fill_value=0),dtype="int64")

Brazil    100
China     950
India     410
Japan      80
USA       510
dtype: int64